name: Benchmark
permissions:
  contents: read
  pull-requests: write
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  benchmark-native:
    name: Performance Regression Check - GoNative
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: Run benchmark
        run: CGO_ENABLED=0 go test -bench=^BenchmarkClient_VariableSerial -run=^# -benchDisableLogs | tee bench_native_output.txt
      - name: Download previous benchmark data
        uses: actions/cache@v4.2.3
        with:
          path: ./cache
          key: ${{ runner.os }}-benchmark
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@d48d326b4ca9ba73ca0cd0d59f108f9e02a381c7
        with:
          tool: 'go'
          output-file-path: bench_native_output.txt
          external-data-json-path: ./cache/benchmark-native-data.json
          summary-always: true
          github-token: ${{ secrets.AUTOMATION_USER_TOKEN }}
          comment-on-alert: true
          alert-threshold: 125%
          fail-on-alert: true
          fail-threshold: 150%