name: Release

on:
  workflow_dispatch:
      
permissions:
  contents: write

jobs:
  release:
    name: Version Bump and Release
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Get latest non-prerelease release
      id: latestrelease
      uses: cardinalby/git-get-release-action@v1
      with:
        latest: true
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ inputs.github-token }}
    - name: Get next minor version
      id: semverbump
      uses: WyriHaximus/github-action-next-semvers@v1.2.1
      with:
        version: ${{ steps.latestrelease.outputs.tag_name }}
    - name: Update appVersion in chart
      run: |
        sed -i "s/^const VERSION = \".*\"/const VERSION = \"${{steps.semverbump.outputs.minor}}\"/" ./version.go

    - name: Commit and push
      run: |
        git config --global user.email "github-tracker-bot@taplytics.com"
        git config --global user.name "taplytics-robot"
        git add ./version.go
        git commit -m "Release ${TAG_VERSION}"
        git push origin main
    - name: Release SDK
      uses: DevCycleHQ/release-action/gh-release@main
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}