name: Release

on:
  release:
    types: [released]
      
permissions:
  contents: write

jobs:
  update_version:
    name: Update VERSION in Go code
    runs-on: ubuntu-latest

    steps:
    - name: Get Release Version
      run: |
        echo "TAG_VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

    - name: Ensure release tag looks like a valid version
      run: echo "${TAG_VERSION}" | egrep '^v[0-9]+\.[0-9]+\.[0-9]+'

    - uses: actions/checkout@v3

    - name: Update appVersion in chart
      run: |
        sed -i "s/^const VERSION = \".*\"/const VERSION = \"${TAG_VERSION#v}\"/" ./version.go

    - name: Commit and push
      run: |
        git config --global user.email "github-tracker-bot@taplytics.com"
        git config --global user.name "taplytics-robot"
        git add ./version.go
        git commit -m "Release ${TAG_VERSION}"
        git push origin HEAD:${{ github.event.release.target_commitish }}
        git tag --annotate --force "${TAG_VERSION}"
        git push --force origin ${{ github.event.release.tag_name }}
