name: Run Test Harness

on:
  pull_request:
    branches: [main]


jobs:
  harness-tests:
    name: Harness Tests
    runs-on: ubuntu-latest
    steps:
      - uses: DevCycleHQ/test-harness@main
        with:
          sdks-to-test: go
          sdk-github-sha: ${{github.sha}}
          github-token: ${{ secrets.TEST_HARNESS_GH_SECRET }}

