name: Run Test Harness
permissions:
  contents: read

on:
  - pull_request

jobs:
  harness-tests:
    name: Harness Tests
    runs-on:
      labels: ubuntu-latest-4-core
    steps:
      - uses: DevCycleHQ/test-harness@main
        with:
          sdks-to-test: '["go"]'
          sdk-github-sha: ${{github.event.pull_request.head.sha}}
